<center><img src="car.jpg" width=500></center>


Insurance companies invest a lot of time and money into optimizing their pricing and accurately estimating the likelihood that customers will make a claim. In many countries insurance it is a legal requirement to have car insurance in order to drive a vehicle on public roads, so the market is very large!

(`Source: https://www.accenture.com/_acnmedia/pdf-84/accenture-machine-leaning-insurance.pdf`) 

Knowing all of this, On the Road car insurance have requested your services in building a model to predict whether a customer will make a claim on their insurance during the policy period. As they have very little expertise and infrastructure for deploying and monitoring machine learning models, they've asked you to identify the single feature that results in the best performing model, as measured by accuracy, so they can start with a simple model in production.

They have supplied you with their customer data as a csv file called `car_insurance.csv`, along with a table detailing the column names and descriptions below.



## The dataset

| Column | Description |
|--------|-------------|
| `id` | Unique client identifier |
| `age` | Client's age: <br> <ul><li>`0`: 16-25</li><li>`1`: 26-39</li><li>`2`: 40-64</li><li>`3`: 65+</li></ul> |
| `gender` | Client's gender: <br> <ul><li>`0`: Female</li><li>`1`: Male</li></ul> |
| `driving_experience` | Years the client has been driving: <br> <ul><li>`0`: 0-9</li><li>`1`: 10-19</li><li>`2`: 20-29</li><li>`3`: 30+</li></ul> |
| `education` | Client's level of education: <br> <ul><li>`0`: No education</li><li>`1`: High school</li><li>`2`: University</li></ul> |
| `income` | Client's income level: <br> <ul><li>`0`: Poverty</li><li>`1`: Working class</li><li>`2`: Middle class</li><li>`3`: Upper class</li></ul> |
| `credit_score` | Client's credit score (between zero and one) |
| `vehicle_ownership` | Client's vehicle ownership status: <br><ul><li>`0`: Does not own their vehilce (paying off finance)</li><li>`1`: Owns their vehicle</li></ul> |
| `vehcile_year` | Year of vehicle registration: <br><ul><li>`0`: Before 2015</li><li>`1`: 2015 or later</li></ul> |
| `married` | Client's marital status: <br><ul><li>`0`: Not married</li><li>`1`: Married</li></ul> |
| `children` | Client's number of children |
| `postal_code` | Client's postal code | 
| `annual_mileage` | Number of miles driven by the client each year |
| `vehicle_type` | Type of car: <br> <ul><li>`0`: Sedan</li><li>`1`: Sports car</li></ul> |
| `speeding_violations` | Total number of speeding violations received by the client | 
| `duis` | Number of times the client has been caught driving under the influence of alcohol |
| `past_accidents` | Total number of previous accidents the client has been involved in |
| `outcome` | Whether the client made a claim on their car insurance (response variable): <br><ul><li>`0`: No claim</li><li>`1`: Made a claim</li></ul> |

In [39]:
# Import required modules
import pandas as pd
import numpy as np
from statsmodels.formula.api import logit
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic
from statsmodels.api import qqplot 

# Start coding!

In [40]:
df = pd.read_csv("car_insurance.csv")
df.head(50)

        id  age  gender  ... duis past_accidents outcome
0   569520    3       0  ...    0              0     0.0
1   750365    0       1  ...    0              0     1.0
2   199901    0       0  ...    0              0     0.0
3   478866    0       1  ...    0              0     0.0
4   731664    1       1  ...    0              1     1.0
5   877557    2       0  ...    0              3     0.0
6   930134    3       1  ...    0              3     0.0
7   461006    1       0  ...    0              0     1.0
8    68366    2       0  ...    0              0     0.0
9   445911    2       0  ...    0              0     1.0
10  275820    3       1  ...    2              7     0.0
11  521399    3       0  ...    0              0     0.0
12  429728    2       1  ...    1              2     0.0
13  569640    0       0  ...    0              0     0.0
14  980181    1       1  ...    2              1     0.0
15  906223    1       0  ...    0              0     0.0
16  517747    3       1  ...    2              1     0.0
17   24851    0       1  ...    0              0     1.0
18  104086    1       0  ...    0              0     1.0
19  240658    0       0  ...    0              0     1.0
20  484399    0       0  ...    0              0     1.0
21  912828    0       1  ...    0              0     1.0
22  892754    2       1  ...    1              1     0.0
23     217    0       1  ...    0              0     0.0
24  633896    3       1  ...    2              3     0.0
25  193110    1       0  ...    0              0     0.0
26   98515    2       1  ...    1              0     0.0
27  165623    1       1  ...    0              1     0.0
28  493590    1       1  ...    0              1     0.0
29  389792    3       1  ...    0              0     1.0
30  642614    2       1  ...    0              1     0.0
31  951465    3       0  ...    1              1     0.0
32  496987    0       1  ...    0              0     0.0
33  732437    0       1  ...    0              0     1.0
34  146897    1       0  ...    0              0     1.0
35  316173    0       1  ...    0              0     1.0
36    9013    1       1  ...    0              2     0.0
37  511757    2       0  ...    0              1     0.0
38  429947    3       1  ...    0              5     0.0
39  485660    2       1  ...    0              1     0.0
40   80496    3       1  ...    1              3     0.0
41  478336    2       1  ...    0              2     0.0
42   10843    2       1  ...    2              0     0.0
43  397446    0       1  ...    0              0     1.0
44  101678    1       0  ...    0              0     1.0
45  231661    2       1  ...    0              4     0.0
46  173782    3       1  ...    0              5     0.0
47  921097    2       0  ...    0              2     0.0
48   98839    1       0  ...    0              0     0.0
49  105372    1       0  ...    0              0     0.0

[50 rows x 18 columns]

In [41]:
df.isna().any()

id                     False
age                    False
gender                 False
driving_experience     False
education              False
income                 False
credit_score            True
vehicle_ownership      False
vehicle_year           False
married                False
children               False
postal_code            False
annual_mileage          True
vehicle_type           False
speeding_violations    False
duis                   False
past_accidents         False
outcome                False
dtype: bool

In [42]:
df["annual_mileage"]= df["annual_mileage"].fillna(df["annual_mileage"].mean())
df["credit_score"] = df["credit_score"].fillna(df["credit_score"].mean())                        
assert df.isna().sum().sum() == 0

In [43]:
# creating the model 
accuracy ={}
for o in df.columns[1: len(df.columns) -1]:
    formula = f"outcome ~ {o}"
    model = logit(formula, data=df).fit()
    confu_matrix = model.pred_table()
    TN = confu_matrix[0,0]
    TP = confu_matrix[1,1]
    FP =confu_matrix[0,1]
    FN =confu_matrix[1,0]
    accuracy[o] =(TN +TP)/(TP+TN+FP+FN) 
print(accuracy)

Optimization terminated successfully.
         Current function value: 0.511794
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.615951
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.467092
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.603742
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.531499
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.572557
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.552412
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.572668
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.586659
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.595431
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.617345
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.605716
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.621700
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.558922
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.598699
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.549220
         Iterations 7
{'age': 0.7747, 'gender': 0.6867, 'driving_experience': 0.7771, 'education': 0.6867, 'income': 0.7425, 'credit_score': 0.7054, 'vehicle_ownership': 0.7351, 'vehicle_year': 0.6867, 'married': 0.6867, 'children': 0.6867, 'postal_code': 0.6867, 'annual_mileage': 0.6904, 'vehicle_type': 0.6867, 'speeding_violations': 0.6867, 'duis': 0.6867, 'past_accidents': 0.6867}

In [44]:

best_feature_df = pd.DataFrame({"best_feature" : ["driving_experience"], "best_accuracy" :max(accuracy.values())})
best_feature_df

         best_feature  best_accuracy
0  driving_experience         0.7771